gunicorn
Flask==2.3.2
Flask-Session
google-cloud-datacatalog==3.16.0
google-cloud-bigquery
google-cloud-core
google-cloud-storage
google-cloud-tasks==2.13.1
google-cloud-pubsub
google-cloud-resource-manager
google-cloud-logging
google-cloud-bigquery-datapolicies==0.6.2
google-api-python-client
pytz
pandas
pyarrow
jsonlines
google-auth-oauthlib
google-auth
oauth2client
requests
psycopg2==2.9.9